RewriteEngine On

# Перенаправление в директорию public
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

# Обработка статических файлов
<FilesMatch "\.(css|js|jpg|jpeg|png|gif|svg|ico)$">
    Header set Cache-Control "max-age=86400, public"
    Header unset Pragma
</FilesMatch>

# Разрешение Cross-Origin для шрифтов
<FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css)$">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>

# Обработка ошибок
ErrorDocument 404 /public/index.php 